body {
    margin: 0;
    background-color:rgb(255, 241, 205);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin: 0 0 10px;
}

.tabs {
    max-width: 600px;
    margin: 50px auto;
}

.tabs__nav {
    display: flex;
}

.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #cff8fb;
    border: 0;
    border-right: 3px solid rgb(255, 241, 205) ;
    cursor: pointer;
}

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: rgb(251, 228, 153);
}

.tabs__nav-btn.active {
    background-color: #28c0fc;
    border-right-color: #28c0fc;
    color: #fff;
}

.tabs__content {
    padding: 30px;
    background-color: #fff;
    border-radius: 0px 0px 3px 3px;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}